@page "/mail_new"
@using Blazorise
@using Majorsoft.Blazor.Extensions.BrowserStorage

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@inject NavigationManager UriHelper
@inject IWebHostEnvironment _env
@inject ILocalStorageService _localStorageService
@inject ISessionStorageService _sessionStorageService

@inject SignInManager<IdentityUser> SignInManager
@inject AuthenticationStateProvider authStateProvider

@inject IToastService _toastService;

<h5>Новое электронное письмо</h5>
<PageTitle>Новое электронное письмо</PageTitle>

<AuthorizeView>
    <Authorized>

           @if (ready == false)
        {
            <p><i class="bx bx-buoy bx-spin text-primary display-3"></i><i> Нужно немного времени, чтобы загрузить эту страницу</i></p>
            <p><i>Пожалуйста подождите...</i></p>
        }
        else
        {

        <div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Новое электронное письмо</h4>
                        <button type="button" class="close" @onclick="@OnCloseHandler">&times;</button>
                    </div>

                    <div class="modal-body">
                
                         <div class="form-group row mb-4">
                                        <label class="col-form-label col-lg-1">От</label>
                                        <div class="col-lg">
                                             <Havit.Blazor.Components.Web.Bootstrap.HxSelect Label="Отправитель"
                                                                                             TItem="@SelectData"
                                                                                             TValue="string"
                                                                                             Data="@email_senders"
                                                                                             @bind-Value="email_sender"
                                                                                             TextSelector="@((p) => p.Name)"
                                                                                             ValueSelector="@((p) => p.Id)"
                                                                                             NullDataText="Загружаются значения..." />
                                        </div>
                          </div>

                            <div class="form-group row mb-4">
                                        <label class="col-form-label col-lg-1">Кому</label>
                                        <div class="col-lg">
                                            <input type="text" class="form-control" @bind="email_recepient" />
                                        </div>
                           </div>

                            <div class="form-group row mb-4">
                                        <label class="col-form-label col-lg-1">Тема</label>
                                        <div class="col-lg">
                                            <input type="text" class="form-control" @bind="email_recepient" />
                                        </div>
                             </div>

                              <div class="form-group row mb-4">
                                        <label class="col-form-label col-lg-1">Текст письма</label>
                                        <div class="col-lg">

                              <RichTextEdit @ref="email_body"
                                                      Theme="RichTextEditTheme.Snow"
                                                      ContentChanged="@OnContentChanged_EmailBody"
                                                      PlaceHolder="Введите текст письма"
                                                      ReadOnly="false"
                                                      SubmitOnEnter="true"
                                                      EnterPressed="@OnSave_EmailBody"
                                                      ToolbarPosition="Placement.Top">
                                                      
                                                <Editor></Editor>
                                                <Toolbar>
                                                    <RichTextEditToolbarGroup>
                                                        <RichTextEditToolbarButton Action="RichTextEditAction.Bold" />
                                                        <RichTextEditToolbarButton Action="RichTextEditAction.Italic" />
                                                        <RichTextEditToolbarButton Action="RichTextEditAction.Align" />
                                                        <RichTextEditToolbarButton Action="RichTextEditAction.Blockquote" />
                                                        <RichTextEditToolbarButton Action="RichTextEditAction.Header" />
                                                        <RichTextEditToolbarButton Action="RichTextEditAction.Strike" />
                                                        <RichTextEditToolbarButton Action="RichTextEditAction.Underline" />
                                                        <RichTextEditToolbarButton Action="RichTextEditAction.Align" />

                                                        <RichTextEditToolbarSelect Action="RichTextEditAction.Size">
                                                            <RichTextEditToolbarSelectItem Value="small" />
                                                            <RichTextEditToolbarSelectItem Selected />
                                                            <RichTextEditToolbarSelectItem Value="large" />
                                                            <RichTextEditToolbarSelectItem Value="huge">Very Big</RichTextEditToolbarSelectItem>
                                                        </RichTextEditToolbarSelect>

                                                        <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="ordered" />
                                                        <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="bullet" />
                                                    </RichTextEditToolbarGroup>
                                                <RichTextEditToolbarGroup Float="Float.End">
                                                        <Button Clicked="@OnSave_EmailBody"><Icon Name="IconName.Save" /></Button>
                                                    </RichTextEditToolbarGroup>
                                                </Toolbar>
                                            </RichTextEdit>
                                             </div>
                             </div>

                             <div class="form-group row mb-4">
                                        <label class="col-form-label col-lg-1">Вложения</label>
                                        <div class="col-lg">
                                            <InputFile class="form-control" OnChange="LoadFilesAttachments" multiple />

                                            <p></p>
                                            <table>

                                                <tr>
                                                    <th scope="col" style="width: 70px;">#</th>
                                                    <th scope="col">Файл</th>
                                                    <th scope="col" style="width: 150px;"> </th>
                                                </tr>
                                                @for (int i = 0; i < attach_lst.Count; i++)
                                                {
                                                    string extension = Path.GetExtension(attach_lst[i]);
                                                    int temp = i;
                                                    <tr>
                                                        <td>@(i+1))</td>

                                                        @switch (extension)
                                                        {
                                                            case ".xls":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-xls"></i> @attach_lst[i]</a></td>
                                                                break;

                                                            case ".pdf":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-pdf"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".wav":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-wav"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".7z":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-7z"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".aac":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-aac"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".accdb":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-accdb"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".accdt":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-accdt"></i> @attach_lst[i]  </a></td>
                                                                break;

                                                            case ".amr":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-amr"></i> @attach_lst[i]  </a></td>
                                                                break;

                                                            case ".apk":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-apk"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".app":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-app"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".asax":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-asax"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".asc":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-asc"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".ash":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-ash"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".ashx":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-ashx"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".asp":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-asp"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".aspx":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-aspx"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".avi":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-avi"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".axd":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-axd"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".bash":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-bash"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".bat":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-bat"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".bin":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-bin"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".bmp":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-bmp"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".bpg":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-bpg"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".bz2":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-bz2"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".c":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-c"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".cab":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-cab"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".cad":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-cad"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".caf":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-caf"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".cal":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-cal"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".cd":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-cd"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".cer":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-cer"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".cfg":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-cfg"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".cfm":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-cfm"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".cfml":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-cfml"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".cgi":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-cgi"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".class":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-class"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".cmd":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-cmd"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".coffee":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-coffee"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".com":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-com"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".conf":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-conf"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".cpp":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-cpp"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".crdownload":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-crdownload"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".cs":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-cs"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".csh":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-csh"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".cson":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-cson"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".csproj":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-csproj"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".css":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-css"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".csv":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-csv"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".cue":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-cue"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".dat":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-dat"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".db":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-db"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".dbf":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-dbf"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".deb":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-deb"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".dgn":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-dgn"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".dist":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-dist"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".diz":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-diz"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".dll":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-dll"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".dmg":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-dmg"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".dng":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-dng"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".doc":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-doc"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".docb":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-docb"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".docm":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-docm"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".docx":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-docx"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".dot":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-dot"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".dotm":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-dotm"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".dotx":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-dotx"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".download":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-download"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".dpj":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-dpj"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".dtd":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-dtd"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".dwg":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-dwg"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".dxf":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-dxf"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".exe":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-exe"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".f4v":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-f4v"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".fax":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-fax"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".fb2":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-fb2"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".fla":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-fla"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".flac":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-flac"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".flv":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-flv"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".gif":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-gif"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".gpg":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-gpg"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".gz":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-gz"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".h":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-h"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".heic":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-heic"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".htm":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-htm"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".html":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-html"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".ico":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-ico"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".ics":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-ics"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".iff":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-iff"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".ifo":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-ifo"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".image":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-image"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".inf":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-inf"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".ini":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-ini"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".jar":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-jar"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".java":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-java"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".jpe":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-jpe"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".jpeg":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-jpeg"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".jpg":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-jpg"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".js":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-js"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".json":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-json"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".jsp":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-jsp"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".jsx":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-jsx"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".key":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-key"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".lnk":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-lnk"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".log":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-log"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".lua":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-lua"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".m":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-m"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".m2v":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-m2v"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".m3u":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-m3u"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".m3u8":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-m3u8"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".m4a":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-m4a"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".m4v":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-m4v"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".mdb":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-mdb"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".mdf":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-mdf"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".mid":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-mid"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".midi":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-midi"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".mkv":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-mkv"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".mobi":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-mobi"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".mod":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-mod"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".mov":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-mov"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".mp3":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-mp3"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".mp4":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-mp4"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".mpa":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-mpa"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".mpd":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-mpd"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".mpeg":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-mpeg"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".mpg":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-mpg"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".mpp":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-mpp"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".mpt":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-mpt"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".msi":

                                                                break;
                                                            case ".nef":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-nef"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".nfo":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-nfo"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".nix":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-nix"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".odb":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-odb"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".ods":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-ods"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".odt":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-odt"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".ogg":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-ogg"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".ost":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-ost"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            case ".ott":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-ott"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".pcd":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-pcd"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".pdb":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-pdb"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".pem":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-pem"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".pfx":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-pfx"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".pgp":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-pgp"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".php":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-php"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".png":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-png"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".potx":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-potx"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".pps":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-pps"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".ppsx":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-ppsx"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".ppt":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-ppt"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".pptm":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-pptm"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".pptx":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-pptx"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".ps":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-ps"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".psd":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-psd"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".pst":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-pst"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".pub":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-pub"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".rar":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-rar"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".resx":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-resx"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".rom":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-rom"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".rpm":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-rpm"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".rsa":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-rsa"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".rss":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-rss"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".rtf":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-rtf"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".sass":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-sass"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".scss":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-scss"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".sh":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-sh"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".sldm":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-sldm"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".sldx":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-sldx"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".sln":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-sln"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".sql":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-sql"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".sqlite":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-sqlite"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".step":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-step"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".stl":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-stl"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".svg":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-svg"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".swd":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-swd"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".swf":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-swf"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".sys":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-sys"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".tar":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-tar"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".tcsh":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-tcsh"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".tex":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-tex"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".tga":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-tga"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".tif":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-tif"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".tiff":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-tiff"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".tmp":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-tmp"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".torrent":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-torrent"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".tsv":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-tsv"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".ttf":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-ttf"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".txt":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-txt"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".udf":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-udf"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".vb":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-vb"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".vbproj":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-vbproj"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".vbs":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-vbs"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".vcd":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-vcd"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".vcs":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-vcs"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".vdx":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-vdx"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".vob":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-vob"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".vsd":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-vsd"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".vss":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-vss"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".vst":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-vst"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".vsx":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-vsx"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".vtx":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-vtx"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".war":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-war"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".wbk":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-wbk"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".webinfo":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-webinfo"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".webm":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-webm"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".webp":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-webp"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".wma":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-wma"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".wmf":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-wmf"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".wmv":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-wmv"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".xaml":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-xaml"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".xlm":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-xlm"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".xlsm":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-xlsm"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".xlsx":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-xlsx"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".xlt":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-xlt"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".xltm":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-xltm"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".xltx":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-xltx"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".xml":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-xml"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".xsd":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-xsd"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".xz":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-xz"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".yaml":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-yaml"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".yml":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-yml"></i> @attach_lst[i] </a></td>
                                                                break;
                                                            case ".zip":
                                                                <td><a href=@attach_lst_links[i]><i class="fiv-cla fiv-icon-zip"></i> @attach_lst[i] </a></td>
                                                                break;

                                                            default:
                                                                <td><a href=@attach_lst_links[i]><i class="bx bx-save">@attach_lst[i]</i> </a></td>
                                                                break;

                                                        }
                                                        <td><button type="button" class="btn btn-danger btn-inverse" @onclick="()=>DeleteAttachment(temp)"> х </button></td>

                                                    </tr>
                                                }

                                            </table>

                                        </div>
                             </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @onclick="async()=>await OnEmailKill()">Удалить</button>
                        <button type="button" class="btn btn-dark" @onclick="async()=>await OnEmailSaveDraft()">Сохранить в черновик</button>
                        <button type="button" class="btn btn-primary" @onclick="async()=>await OnEmailSendLater()">Отправить позже</button>
                        <button type="button" class="btn btn-success" @onclick="async()=>await OnEmailSend()">Отправить</button>
                    </div>
                </div>
            </div>
        </div>

        }

        </Authorized>
    <NotAuthorized>
        <AuthorizationPrompt Title="Вам необходимо зарегистрироваться или войти! " />
    </NotAuthorized>
</AuthorizeView>


@code{

    public class SelectData
    {
        public string Id { get; set; }

        public string Name { get; set; }
    }

    List<string> attach_lst = new List<string>();
    List<string> attach_lst_links = new List<string>();

     private int maxAllowedFiles = 20;

    BackendController bc = new BackendController();
    MySQL_Controller mysqlc = new MySQL_Controller();
    Sentinel sentinel = new Sentinel();
    SystemCore systemcore = new SystemCore();

    //Toast Notifications
    private string _toastText = $@"<strong>Toast:</strong> This is a(n) {NotificationTypes.Primary} notification";
    private bool _toastShowIcon = true;
    private bool _toastShowCloseButton = true;
    private bool _toastShowCountdownProgress = true;
    private uint _toastAutoCloseInSec = 5;
    private uint _toastShadowEffect = 5;
    private NotificationStyles _toastStyle;
    private NotificationTypes _toastTypeLevel;

    string _user {get;set;}
    bool isAdmin = false;

    protected string contentAsHtml_email_body;
    protected string contentAsDeltaJson_email_body;
    protected string contentAsText_email_body;
    protected string savedContent_email_body;

     private long maxFileSize = 1024 * 15 * 1024;

    bool ready { get; set; }

    string email_sender {get;set;}
    string email_recepient { get; set; }

    List<SelectData> email_senders { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose{get;set;}

    RichTextEdit email_body;

    #region Toasts Notifications

    //Toasts
    private async Task ToastsNotifications_ShowAllToast()
    {
        foreach (var item in Enum.GetValues<NotificationTypes>())
        {
            _toastService.ShowToast($@"<strong>Toast оповещения:</strong> Это оповещение типа {item}", item);
        }
    }

    private Guid _lastToastId;

    private async Task ToastsNotifications_ShowCustomToast(string toastText, NotificationStyles ns, NotificationTypes ntype)
    {
        _lastToastId = _toastService.ShowToast(new ToastSettings()
            {
                Content = builder => builder.AddMarkupContent(0, toastText),
                NotificationStyle = ns,
                Type = ntype,
                AutoCloseInSec = _toastAutoCloseInSec,
                ShadowEffect = _toastShadowEffect,
                ShowCloseButton = _toastShowCloseButton,
                ShowCloseCountdownProgress = _toastShowCountdownProgress,
                ShowIcon = _toastShowIcon
            });
    }

    private async Task ToastsNotifications_ShowCustomToast_Primary(string toastText)
    {
        await ToastsNotifications_ShowCustomToast(toastText, NotificationStyles.Normal, NotificationTypes.Primary);
    }
    private async Task ToastsNotifications_ShowCustomToast_Secondary(string toastText)
    {
        await ToastsNotifications_ShowCustomToast(toastText, NotificationStyles.Normal, NotificationTypes.Secondary);
    }
    private async Task ToastsNotifications_ShowCustomToast_Info(string toastText)
    {
        await ToastsNotifications_ShowCustomToast(toastText, NotificationStyles.Normal, NotificationTypes.Info);
    }
    private async Task ToastsNotifications_ShowCustomToast_Success(string toastText)
    {
        await ToastsNotifications_ShowCustomToast(toastText, NotificationStyles.Normal, NotificationTypes.Success);
    }
    private async Task ToastsNotifications_ShowCustomToast_Warning(string toastText)
    {
        await ToastsNotifications_ShowCustomToast(toastText, NotificationStyles.Normal, NotificationTypes.Warning);
    }
    private async Task ToastsNotifications_ShowCustomToast_Danger(string toastText)
    {
        await ToastsNotifications_ShowCustomToast(toastText, NotificationStyles.Normal, NotificationTypes.Danger);
    }
    private async Task ToastsNotifications_ShowCustomToast_Light(string toastText)
    {
        await ToastsNotifications_ShowCustomToast(toastText, NotificationStyles.Normal, NotificationTypes.Light);
    }
    private async Task ToastsNotifications_ShowCustomToast_Dark(string toastText)
    {
        await ToastsNotifications_ShowCustomToast(toastText, NotificationStyles.Normal, NotificationTypes.Dark);
    }
    private async Task RemoveAllToasts()
    {
        _toastService.ClearAll();
    }
    private async Task RemoveLastToasts()
    {
        if (_lastToastId != Guid.Empty)
        {
            _toastService.RemoveToast(_lastToastId);
        }
    }

    #endregion
}

@functions{

    async Task OnEmailKill()
    {

    }

    async Task OnEmailSend()
    {

    }

    async Task OnEmailSaveDraft()
    {

    }

    async Task OnEmailSendLater()
    {

    }

    async Task OnCloseHandler()
    {
        await OnClose.InvokeAsync();
    }

    public async Task OnContentChanged_EmailBody()
    {
        contentAsHtml_email_body = await email_body.GetHtmlAsync();
        contentAsDeltaJson_email_body = await email_body.GetDeltaAsync();
        contentAsText_email_body = await email_body.GetTextAsync();
    }

    public async Task OnSave_EmailBody()
    {
        savedContent_email_body = await email_body.GetHtmlAsync();
        await email_body.ClearAsync();
    }

    protected override Task OnInitializedAsync()
    {
        System.Threading.Thread.Sleep(500);

        _user = authStateProvider.GetAuthenticationStateAsync().Result.User.Identity.Name;

        ready = true;
        InvokeAsync(StateHasChanged);
        return Task.CompletedTask;
    }

    string getUnicalFileName(string filename_we, string extension)
    {
        string guid_str = Guid.NewGuid().ToString();
        return (filename_we + "_" + Path.GetRandomFileName() + extension);
    }

    public void DeleteAttachment(int j)
    {
        attach_lst.RemoveAt(j);
        attach_lst_links.RemoveAt(j);
        StateHasChanged();
    }

    async Task LoadFilesAttachments(InputFileChangeEventArgs e)
    {
        string filename = "";

        int file_num = -1;

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            file_num++;
            try
            {
                filename = file.Name;
                var trustedFileNameForFileStorage = Path.GetRandomFileName();
                var path = Path.Combine(_env.ContentRootPath, "wwwroot","uploads","email", filename);

                if (System.IO.File.Exists(Path.Combine(_env.ContentRootPath, "wwwroot","uploads","email", filename)) || filename.Length > 100)
                {
                    string filename_we = Path.GetFileNameWithoutExtension(file.Name);
                    string extension = Path.GetExtension(file.Name);
                    filename = getUnicalFileName(filename_we, extension);
                }

                if (file.Size > maxFileSize)
                {
                    systemcore.Log("EmailNew", "Controller", "Началась загрузка файла вложений электронной почты: " + filename, SystemCore.LogLevels.Info);
                    systemcore.Syslog(_env, _user, "Электронная почта \\ Создание письма", "Началась загрузка файла электронной почты: " + filename, SystemCore.LogLevels.Info);

                    //Слишком большой файл, нельзя потоком грузить файл для вложений электронной почты
                    await ToastsNotifications_ShowCustomToast_Warning($"Приложенный файл {file.Name} слишком большой!");
                }
                else
                {
                    await using FileStream fs = new(path, FileMode.Create);
                    await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
                }
            }
            catch (Exception ex)
            {
                systemcore.Log("EmailNew", "Controller", "Произошла ошибка при загрузке файла: " + filename, SystemCore.LogLevels.Fatal);
                systemcore.Syslog(_env, _user, "Электронная почта \\ Создание письма", "Произошла ошибка при загрузке файла: " + filename + ". Ошибка: " + ex.Message, SystemCore.LogLevels.Fatal);
            }
            finally
            {
                attach_lst.Add(filename);
                attach_lst_links.Add("https://evicrm.store/uploads/email/" + filename);
                systemcore.Log("EmailNew", "Controller", "Началась загрузка файла вложений электронной почты: " + filename, SystemCore.LogLevels.Info);
                systemcore.Syslog(_env, _user, "Электронная почта \\ Создание письма", "Закончилась загрузка файла вложений электронной почты: " + filename, SystemCore.LogLevels.Info);
                StateHasChanged();
            }
        }
    }

}