@using Blazorise
@using Blazorise.RichTextEdit
@inject Context _context
@inject BackendController bc

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Закрываем задачу, считая её провальной</h4>
                <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group row mb-4">


                    <label>Вы собираетесь закрыть задачу, так как она провалилась</label>

                    <label for="ttm_cmd_fail_body"><b>Почему принято решение такое решение?</b></label>
                      </div>

                        <RichTextEdit @ref="rtfMarkAsFault"
                                                      Theme="RichTextEditTheme.Snow"
                                                      ContentChanged="@OnContentChanged_rtfMarkAsFault"
                                                      PlaceHolder="Введите текст изменений"
                                                      ReadOnly=false
                                                      SubmitOnEnter="false"
                                                      EnterPressed="@OnSave_rtfMarkAsFault"
                                                      ToolbarPosition="Placement.Top">
                                                <Editor></Editor>
                                                <Toolbar>
                                                    <RichTextEditToolbarGroup>
                                                        <RichTextEditToolbarButton Action="RichTextEditAction.Bold" />
                                                        <RichTextEditToolbarButton Action="RichTextEditAction.Italic" />
                                                        <RichTextEditToolbarButton Action="RichTextEditAction.Align" />
                                                        <RichTextEditToolbarButton Action="RichTextEditAction.Blockquote" />
                                                        <RichTextEditToolbarButton Action="RichTextEditAction.Header" />
                                                        <RichTextEditToolbarButton Action="RichTextEditAction.Strike" />
                                                        <RichTextEditToolbarButton Action="RichTextEditAction.Underline" />
                                                        <RichTextEditToolbarButton Action="RichTextEditAction.Align" />

                                                        <RichTextEditToolbarSelect Action="RichTextEditAction.Size">
                                                            <RichTextEditToolbarSelectItem Value="small" />
                                                            <RichTextEditToolbarSelectItem Selected />
                                                            <RichTextEditToolbarSelectItem Value="large" />
                                                            <RichTextEditToolbarSelectItem Value="huge">Very Big</RichTextEditToolbarSelectItem>
                                                        </RichTextEditToolbarSelect>
                                                        <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="ordered" />
                                                        <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="bullet" />
                                                    </RichTextEditToolbarGroup>
                                                    <!-- Custom toolbar content -->
                                                <RichTextEditToolbarGroup Float="Float.End">
                                                        <!-- <Button onClick="window.open('https://www.quilljs.com/','quilljs')"><Icon Name="IconName.InfoCircle" /></Button> -->
                                                    <Button Clicked="@OnSave_rtfMarkAsFault"><Icon Name="IconName.Save" /></Button>
                                                    </RichTextEditToolbarGroup>
                                                </Toolbar>
                                            </RichTextEdit>


              
            </div>
            <div class="modal-footer">
                <button type="button" @onclick='(() => SendTOScriptCmd())' class="btn btn-primary waves-effect waves-light">Закрыть задачу</button>
                <button type="button" class="btn" @onclick="@ModalCancel">Закрыть</button>

            </div>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public schema_tasks Current_Task { get; set; }

     [Parameter]
    public List<schema_users> Users { get; set; }

    [Parameter]
    public List<schema_divisions> Divisions { get; set; }

       public string getUsernameByLogin(string login)
    {
        string fullname = "";

        var elem = Users.FirstOrDefault(p => p.login == login);

        if (elem != null)
        {
            fullname = elem.fullname;
        }
        return fullname;
    }
}

@code {
    RichTextEdit rtfMarkAsFault;

    protected string contentAsHtml_rtfMarkAsFault;
    protected string contentAsDeltaJson_rtfMarkAsFault;
    protected string contentAsText_rtfMarkAsFault;
    protected string savedContent_rtfMarkAsFault;

    public async Task OnContentChanged_rtfMarkAsFault()
    {
        contentAsHtml_rtfMarkAsFault = await rtfMarkAsFault.GetHtmlAsync();
        contentAsDeltaJson_rtfMarkAsFault = await rtfMarkAsFault.GetDeltaAsync();
        contentAsText_rtfMarkAsFault= await rtfMarkAsFault.GetTextAsync();
    }

    public async Task OnSave_rtfMarkAsFault()
    {
        savedContent_rtfMarkAsFault = await rtfMarkAsFault.GetHtmlAsync();
        await rtfMarkAsFault.ClearAsync();
    }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    [Parameter]
    public EventCallback<bool> OnOk { get; set; }


    [Parameter]
    public string task_author { get; set; }

    [Parameter]
    public string task_id { get; set; }


    string ttm_cmd_fail_body { get; set; }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private Task ModalOk()
    {
        return OnClose.InvokeAsync(true);
    }


    public async Task SendTOScriptCmd()
    {
        EviCRM.Server.ViewModels.TaskTrackingModelFail ttmf = new EviCRM.Server.ViewModels.TaskTrackingModelFail();

        ttmf.task_author = task_author;
        ttmf.task_id = task_id;

        string a = contentAsHtml_rtfMarkAsFault;
        ttmf.ttm_cmd_fail_body = a;

        string TOSCRIPT_CMD = "FAIL";

        string task_author_to = ttmf.task_author;
        string task_id_to = ttmf.task_id;

        string TOSCRIPT_VAR1 = ttmf.ttm_cmd_fail_body;
        string TOSCRIPT_VAR2 = "";

        schema_task_tracking_main sttm = new()
            {
                task_variable1 = TOSCRIPT_VAR1,
                task_variable2 = TOSCRIPT_VAR2,
                task_variable3 = "",
                task_author = task_author_to,
                task_id = task_id_to,
                task_cmd = TOSCRIPT_CMD,
                task_datetime = DateTime.Now,
            };

        _context.TaskTrackingMain_Create(sttm);

        string push_msg = "[Задача - " +  Current_Task.task_name + "] \n";
        push_msg += "(Пользователь: " + getUsernameByLogin(task_author_to) + ") \n \n";
        push_msg += "Задача закрыта владельцем\\администратором\\создателем как провальная! \n";

        await  bc.SendTelegramMessage(push_msg,Current_Task,Users,Divisions);
        await OnOk.InvokeAsync(false);
    }
}